body.skinr-region,
.skinr-region {
  position: static;
}
#logo {
  width: 40%;
}
#nav {
  top: 12px;
  width: 60%;
}
#nav ul {
 zoom: 1;
}
#nav ul li {
  border-right: none;
}
#nav ul li a {
  zoom: 1;
}
#nav ul li.expanded ul {
  left: 0;
  top: 30px;
  z-index: 1300;
}
#nav ul li.expanded ul li {
  list-style: none;
  clear: both;
  margin: 0;
}
#nav ul li.expanded.hover  ul li.expanded a,
#nav ul li.expanded.hover  ul li.expanded ul li.expanded a,
#nav li.expanded.hover  ul li.expanded a:hover,
#nav li.expanded.hover  ul li.expanded ul li.expanded a:hover {
  display: block;
  filter: none;
}
h1,
h2,
h3,
h4,
h5 {
 margin: 7px 0; 
}
.node-links {
  position: relative; 
}
.node-links ul li.node_read_more a {
  position: relative;
  bottom: -20px;
  float: right;
}
.node .node-info {
  right: 19px;
}
.node .node-info .arrow {
  border-width: 11px;
}
ul.pager li,
.item-list .pager li {
  line-height: 1em;
}
.user-info,
.comment .comment-user-info {
  background: transparent url(../images/userinfo-ie.png) no-repeat 0 0;
}
.node .node-info .user-info a.profile,
.comment .comment-user-info a.profile {
  position: absolute;
}
#comments {
  zoom: 1;
}