body.skinr-region,
.skinr-region {
  position: static;
}
#nav {
  top: 18px;
}
#nav ul {
 zoom: 1;
}
#nav ul li {
  border-right: none;
}
#nav ul li a {
  zoom: 1;
}
#nav ul li.expanded ul {
  left: 0;
  top: 30px;
  z-index: 1300;
}
#nav ul li.expanded ul li {
  list-style: none;
  clear: both;
  margin: 0;
}
#nav ul li.expanded.hover  ul li.expanded a,
#nav ul li.expanded.hover  ul li.expanded ul li.expanded a,
#nav li.expanded.hover  ul li.expanded a:hover,
#nav li.expanded.hover  ul li.expanded ul li.expanded a:hover {
  display: block;
  filter: none;
}
h1,
h2,
h3,
h4,
h5 {
 margin: 5px 0; 
}
.node .node-info .user-info a.profile,
.comment .comment-user-info a.profile {
  position: absolute;
}