* {
  border-color: #444;
  outline: none;
}
body {
  background: #0d0d0d;
  color: #999;
  font-family: 'helvetica', arial, sans-serif;
  font-size: 12px;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}

body.skinr-region {
  outline: none;
  position: inherit;
}
/*----------basics---------*/
h1,
h2,
h3,
h4,
h5 {
  color: #999;
  line-height: 1.2em;
  margin-bottom: 10px;
}
h1,
h1 a {
  font-size: 25px;
  text-decoration: none;
}
h1.title {
  margin: 15px 0 0;
}
h2,
h2 a {
  color: #999;
  font-size: 18px;
  text-decoration: none;
}
h2 a:hover {
  color: #3696cd;
  text-decoration: none;
}
h3,
h3 a {
  color: #bbb;
  font-size: 18px;
  text-decoration: none;
}
h4,
h4 a {
  font-size: 15px;
  text-decoration: none;
}
a {
  color: #3696cd;
  text-decoration: none;
}
a:hover {
  color: #444;
  -webkit-transition: all 0.3s linear;
  text-decoration: none;
}
strong {
  font-weight: bold;
}
ul,
ol {
  padding: 0 0 0 20px;
}
.clear {
  clear: both;
  height: 2px;
}
.clearfix:after,
.clearfix .inner:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
code {
  display: block;
  padding: 10px;
}
p {
  margin: 8px 0;
  line-height: 1.6em;
}
input[type=submit] {
  background: #3696cd;
  border: none;
  color: #fff;
  font-family: 'helvetica', arial, sans-serif;
  padding: 5px 14px;
  text-transform: uppercase;
}
input[type=submit]:hover {
  background: #444;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
}
input[type=text],
input[type=password],
textarea {
  background: #fff;
  border: none;
  color: #444;
  padding: 5px;
  margin: 4px 0;
}

/* @group header --------------- */
#header {
  border-bottom: 2px solid #262626;
  height: 70px;
}
.content-top #header {
  border-bottom: none;
}
#header-inner {
  margin: 0 auto;
  padding: 15px 10px 0;
  position: relative;
  width: 960px;
}
#logo {
 display: inline-block;
 margin: 0 0 0 10px;
}
#logo img {
  float: left; 
}
#logo h1#site-name {
  margin: 0;
  display: inline-block;
  line-height: 1.8em;
}
#logo h1#site-name a {
  color: #999;
  font-size: 25px;
  font-weight: bold;
}
#logo h1#site-name a:hover {
  color: #fff;
}
#nav {
  margin: 0;
  padding: 16px 0;
  position: absolute;
  right: 0;
  top: 23px;
}
#nav .block h3 {
  display: none;
}
#nav ul {
  margin: 0;
  padding: 0;
}
#nav ul li {
  float: left;
  display: inline-block;
  border-right: 1px solid #444;
  border-bottom: none;
  line-height: 1em;
  padding: 0 5px 0 0;
}
#nav ul li.last {
  border-right: none;
}
#nav ul li a {
  color: #999;
  font-size: 12px;
  padding: 10px 12px;
  text-transform: uppercase;
}
#nav ul li a:hover {
  background: transparent;
  color: #fff;
}
#nav ul li a.active {
  background: #262626;
}
.content-top #nav ul li a.active {
  background: transparent;
  color: #247bad;
  font-weight: bold;
}
.content-top #nav ul li a.active:hover {
  color: #fff;
}
#nav ul li.expanded {
  position: relative;
}
#nav ul li.expanded ul {
  display: none;
  background: #151515;
  border-bottom: 2px solid #333;
  position: absolute;
  margin: 0;
  padding: 0 0 5px 0;
  top: 1.9em;
  width: 15em;
  z-index: 1200;
}
#nav ul li.hover ul {
  display: block;
}
#nav ul li.hover ul li ul,
#nav ul li.hover ul li.hover ul li ul {
  display: none;
}
#nav ul li.hover ul li.hover ul,
#nav ul li.hover ul li.hover ul li.hover ul {
  display: block;
}
#nav ul li.expanded a {
  background: transparent;
}
#nav ul li.expanded a:hover,
#nav ul li.expanded.hover a {
  background: #fff;
  /*background: -webkit-gradient(linear, 0% 0%, 0% 70%, from(#3696cd), to(#247bad));*/
  color: #000;
}
#nav ul li.expanded ul li {
  border: none;
  border-bottom: 1px solid #000;
  border-top: 1px solid #222;
  padding: 0;
  line-height: 2.2em;
  width: 15em;
}
#nav ul li.expanded ul li.first {
  border-top: none;
}
#nav ul li.expanded ul li a,
#nav ul li.expanded.hover ul li a  {
  background: transparent;
  color: #999;
  display: block;
  padding: 0 12px;
  text-transform: none;
}
#nav ul li.expanded ul li a:hover,
#nav ul li.expanded.hover ul li a:hover  {
  background: transparent;
  color: #fff;
}
#nav li .expanded ul {
  margin: -2.7em 0 0 15em;
}
/* @end */

/* @group structure */

#content-top {
  background: #fff;
  background: -webkit-gradient(linear, 0% 0%, 0% 70%, from(#fff), to(#eee));
  color: #444;
  padding: 25px;
}
#content-top-inner {
  margin: 0 auto;
  width: 940px;
}
#content-top h3,
#content-top h3 a {
  color: #444;
}
#container {
  margin: 0 auto;
  width: 960px;
}
.one-sidebar #main {
  float: left;
  padding: 15px 30px 20px 0;
  width: 630px;
}
.one-sidebar .sidebar {
  float: right;
  width: 300px;
}
.both-sidebars #main {
  float: left;
  padding: 20px 20px 20px 0;
  width: 470px;
}
.both-sidebars .sidebar {
  float: left;
  padding: 0 10px;
  width: 215px;
}
.breadcrumb {
  border-bottom: 1px solid #1b1b1b;
  padding: 10px;
}
/* @end */

/* @group nodes ---------------- */
.node,
.panel-pane {
  background: #1b1b1b;
  color: #bbb;
  margin: 0 0 20px 0;
  padding: 15px;
  position: relative;
}
.cant-comment.has-username {
  padding-top: 33px;
}
.no-date {
  padding: 28px 15px 15px;
}
.node .date {
  color: #555;
  text-transform: uppercase;
}
.node .node-info {
  background: #3696cd;
  position: absolute;
  padding: 2px 15px;
  right: 0;
  top: 10px;
}
.panel-pane .node .node-info {
  top: 0;
  right: -16px;
}
.node .node-info a.toggleInfo {
  background: transparent url(../images/usericon.png) no-repeat 0 50%;
  margin: 0 10px 0 0;
  padding: 5px 0 5px 20px;
}
.node .node-info a.comment-count {
  background: transparent url(../images/commenticon.png) no-repeat 0 50%;
  font-weight: bold;
  padding: 0 0 0 23px;
}
.node .node-info .arrow {
  border-color: #3696cd #0d0d0d #3696cd #3696cd;
  border-style: solid;
  border-width: 11px;
  position: absolute;
  line-height: 0em;
  top: 0;
  right: -10px;
  width:0;
  height:0;
}
.node .node-info a {
  color: #fff;
}
.node .node-info a:hover {
  color: #444;
}
.user-info {
  background: transparent url(../images/userinfo.png) no-repeat 0 0;
  color: #777;
  font-size: 11px;
  display: none;
  height: 86px;
  line-height: 1.4em;
  padding: 7px 10px;
  position: absolute;
  top: -91px;
  right: -20px;
  width: 167px;
  z-index: 1000;
}
.cant-comment .user-info {
  right: -55px;
}
.show-info .user-info {
  display: block;
}
.user-info strong {
  color: #444;
  font-size: 12px;
}
.node .node-info .user-info a,
.node .node-info .user-info a:hover {
  color: #444;
}
.user-info img {
  float: left;
  height: 64px;
  margin: 0 8px 0 0;
  width: 64px;
}
.node .node-info .user-info a.profile {
  background: #3696cd;
  color: #fff;
  display: inline-block;
  font-size: 10px;
  margin: 0;
  padding: 2px 10px;
  text-transform: uppercase;
}
.node .node-info .user-info a.profile:hover {
  background: #0d0d0d;
  color: #fff;
}
.node h2,
.node h2 a,
.panel-pane h2,
.panel-pane h2 a {
  color: #bbb;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
}
.node h2 a:hover,
.panel-pane h2 a:hover {
  color: #fff;
}
.node-links {
  clear: both;
}
.node-links ul.links.inline {
  padding: 0;
}
.node-links ul.links.inline li {
  color: #555;
  display: inline-block;
  list-style: none;
  width: auto;
}
.node-links ul li a {
  color: #555;
  padding: 0 10px 0 0;
}
.node-links ul li a:hover {
  color: #bbb;
}
.node-links ul li.node_read_more a {
  background: #3696cd;
  color: #fff;
  position: absolute;
  font-size: 11px;
  right: 12px;
  padding: 1px 10px;
  bottom: 12px;
  text-transform: uppercase;
}
.node-links ul li.node_read_more a:hover {
  background: #444;
}
/* @end */

/* @group comments ---------------- */

#comments {
  background: #1b1b1b;
  color: #bbb;
  margin: 0 0 20px 0;
  padding: 15px;
  position: relative;
}
#comments h3 {
  margin: 0;
}
.comment .submitted {
  color: #555;
  text-transform: uppercase;
}
.comment {
  border-bottom: 1px solid #2b2b2b;
  padding: 15px 0;
  position: relative;
}
.comment h4 {
  margin: 8px 0;
}
.comment h4 a {
  color: #bbb;
}
.comment h4 a:hover {
  color: #3696cd;
}
.comment-info {
  background: #3696cd;
  color: #fff;
  position: absolute;
  padding: 2px 15px;
  right: -15px;
  top: 12px;
}
.comment-info a {
  background: transparent url(../images/usericon.png) no-repeat 0 50%;
  color: #fff;
  padding: 5px 0 5px 20px;
}
.comment-info .arrow {
  border-color: #3696cd #0d0d0d #3696cd #3696cd;
  border-style: solid;
  border-width: 11px;
  position: absolute;
  line-height: 0em;
  top: 0;
  right: -10px;
  width:0;
  height:0;
}
.comment .comment-user-info {
  background: transparent url(../images/userinfo.png) no-repeat 0 0;
  color: #777;
  font-size: 11px;
  display: none;
  height: 86px;
  line-height: 1.4em;
  padding: 7px 10px;
  position: absolute;
  top: -91px;
  right: -60px;
  width: 167px;
  z-index: 1000;
}
.comment .comment-user-info strong {
  color: #444;
  font-size: 12px;
}
.comment .comment-user-info a,
.comment .comment-info a:hover {
  color: #444;
}
.comment .comment-user-info img {
  float: left;
  height: 64px;
  margin: 0 8px 0 0;
  width: 64px;
}
.comment .comment-user-info a.profile {
  background: #3696cd;
  color: #fff;
  display: inline-block;
  font-size: 10px;
  margin: 0;
  padding: 2px 10px;
  text-transform: uppercase;
}
.comment .comment-user-info a.profile:hover {
  background: #000;
}
.show-info .comment-user-info {
  display: block;
}
.comment ul.links {
  text-align: right;
}
.comment ul.links li {
  display: inline;
  margin: 0 5px;
}
.comment ul.links li a {
  background: #3696cd;
  color: #fff;
  padding: 3px 10px;
}
.comment ul.links li a:hover {
  background: #444;
}
/* @end */
/* @group blocks ------------------ */
.block h3 {
  margin: 5px 0;
}
.sidebar .block {
  background: #151515;
  border-bottom: 2px solid #1b1b1b;
  padding: 10px;
  margin: 15px 0;
}
.block ul {
  padding: 0;
  margin: 0;
}
.block ul li ul {
  padding: 0 0 0 10px;
}
.block ul li ul li ul {
  padding: 0 0 0 20px;
}
.block ul li ul li ul li ul {
  padding: 0 0 0 30px;
}
.block ul li {
  color: #3696cd;
  border-bottom: 1px solid #1b1b1b;
  list-style: square;
  list-style-position: inside;
  line-height: 2em;
  margin: 0;
}
.block ul li a {
  background: transparent;
  color: #999;
}
.block ul li a:hover {
  color: #fff;
}
.block .poll {
  margin:10px 3px;
}
.block .poll .title {
  margin: 10px 0;
}
.poll .bar {
  background: #444;
  height: 16px;
}
.poll .bar .foreground {
  background: #3696cd;
  height: 16px;
}
.poll form {
  padding: 0;
  text-align: right;
}
#user-login-form {
  text-align: left;
}
#user-login-form input[type=text],
#user-login-form input[type=password] {
  width: 95%;
}
/* @end */
/* @group users ------------------ */
.profile h3 {
  border-bottom: 2px dashed #333;
  padding: 10px 5px;
  margin: 5px 0;
}
.profile dl dt {
 border-bottom: none;
 padding: 2px 5px;
}
.profile dl dd {
  padding: 0 5px;
}
/* @end */
/* @group drupal stuff------------- */
ul.pager {
  background: #1b1b1b;
  border-color: #1b1b1b #0d0d0d #1b1b1b #0d0d0d;
  border-style: solid;
  border-width: 11px;
  line-height: 0em;
  color: #fff;
  height: 0;
}
ul.pager li,
.item-list .pager li {
  padding: 0;
  margin: 0;
}
ul.pager li.pager-current {
  padding: 0;
  margin: 0 5px;
}
ul.pager li a {
  color: #999;
  padding: 5px 10px;
  margin: 0;
}
ul.pager li a:hover {
  background: #0d0d0d;
}
ul.tabs.primary {
  border-bottom: 2px solid #2b2b2b;
  padding: 0;
  margin: 0;
}
ul.tabs.primary li {
  border: none;
}
ul.tabs.primary li a {
  background: #1b1b1b;
  border: none;
  color: #999;
  line-height: 2em;
  padding: 5px 10px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
ul.tabs.primary li a:hover {
  background: #3696cd;
  color: #fff;
}
ul.tabs.primary li.active a {
  background: #2b2b2b;
  color: #aaa;
}
ul.tabs.secondary {
  background: #2b2b2b;
  border: none;
  margin: 0;
  padding: 8px;
}
ul.tabs.secondary li {
  border: none;
  padding: 0;
}
ul.tabs.secondary li a {
  color: #777;
  padding: 4px 8px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
ul.tabs.secondary li a:hover {
  background: #3696cd;
  color: #fff;
}
ul.tabs.secondary li a.active {
  border: none;
  background: #444;
  color: #fff;
}
div.error {
  background: #bb0000;
  border-color: #ff0000;
  color: #fff;
  padding: 5px 10px;
  margin: 15px 0;
}
div.error a {
  color: #330000;
}
div.error a:hover {
  color: #ff0000;
}
div.messages,
div.status {
  background: #333;
  padding: 5px 10px;
}
div.warning {
  background-color: #e4db43;
  border-color: #fdf84d;
  padding: 5px 10px;
  margin: 10px 0;
}
.block-region {
  background: transparent;
  color: #3399cc;
  border: 1px dashed #3399cc;
  font-weight: bold;
  font-size: 15px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}
fieldset {
  background: transparent;
  border: none;
  border-bottom: 2px dashed #444;
  color: #666;
  line-height: 1.5em;
  margin: 10px 5px;
  padding: 4px 5px 10px;
}
fieldset .fieldset-title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}
fieldset.collapsible .fieldset-title  {
  color: #999;
  cursor: pointer;
}
fieldset.collapsible .fieldset-title:hover  {
  color: #3696cd;
  cursor: pointer;
}
html.js fieldset.collapsed {
  border-bottom: 2px dashed #444;
  height: 1.5em;
  padding: 5px 5px 15px;	
  margin-bottom: 10px;
}
fieldset.collapsible.collapsed  .fieldset-title {
  margin-bottom: 0;
}
.form-item {
  margin: 5px 0;
}
html.js fieldset.collapsed * {
  display: block;
}
fieldset.collapsible.collapsed .fieldset-body {
  display: none;
}
html.js fieldset.collapsible .fieldset-wrapper {
 overflow:auto;
}
form {
  background: #1b1b1b;
  padding: 10px;
}
.form-item {
  margin: 0 0 10px;
}
.form-item .description {
  color: #555;
}
label {
  color: #ccc;
}
table tbody,
table thead th {
  border-color: #333;
}
table thead th {
  padding: 5px;
  font-weight: normal;
  font-size: 11px;
  text-transform: uppercase;
}
table.sticky-header thead th {
  color: #444;
}
tr.odd,
tr.even {
  border-color: #222;
}
tr.odd td {
  background: #212121;
  padding: 5px;
}
tr.even td {
  background: #111;
  padding: 5px;
}
tr.drag-previous td {
  background: orange;
}
dl dt {
  border-bottom: 2px dashed #333;
  padding: 10px 5px;
  margin: 5px 0;
}
dl dd {
  font-style: italic;
  padding: 5px;
}
/* @end */

/* @group footer ------------------ */

#footer-inner {
  border-top: 2px solid #1b1b1b;
  margin: 0 auto;
  padding: 15px;
  width: 960px;
}

/* @end */



/* @group skinr ------------------------------------ */
.hide-title h1.title,
.hide-title h2,
.hide-title h3 {
  display: none;
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.sm-font {
  font-size: 11px;
  line-height: 1.2em;
}
.md-font {
  font-size: 13px;
  line-height: 1.3em;
}
.lg-font {
  font-size: 16px;
}
.ex-font {
  font-size: 25px;
}
.giant {
  font-size: 35px;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.capitalize {
  text-transform: capitalize;
}
/*---widths---*/
.width-100 {
  width: 100%;
}
.width-75 {
  float: left;
  width: 73%;
}
.width-50 {
  float: left;
  width: 48%;
}
.width-33 {
  float: left;
  width: 32%;
}
.width-25 {
  float: left;
  width: 23%;
}
#content-top .width-75,
#content-inner .width-75 {
  width: 71%;
}
#content-top .width-50,
#content-inner .width-50 {
  width: 46%;
}
#content-top .width-33,
#content-inner .width-33 {
  width: 29%;
}
#content-top .width-25,
#content-inner .width-25 {
  width: 22%;
}
/*----margins----*/
.top-10 {
  margin-top: 10px;
}
.right-10 {
  margin-right: 10px;
}
.bottom-10 {
  margin-bottom: 10px;
}
.left-10 {
  margin-left: 10px;
}
/*---*/
.img ul {
  padding: 0;
}
.img ul li {
  border-bottom: 1px solid #2b2b2b;
  padding: 5px 0;
  margin: 0 5px;
  list-style-image: url(../images/bullet.png);
  list-style-position: inside;
}
.img ul li.expanded {
  border-bottom: none;
}
.img {
  color: #888;
}
/*----links------*/
.blist ul {
  padding: 0;
}
.blist ul li {
  list-style: none;
  line-height: 2.3em;
  margin: 0;
}
.blist ul li a {
  border-bottom: #0d0d0d 1px solid;
  color: #999;
  display: block;
  padding: 0 0 0 5px;
}
.blist ul li a:hover {
  background: #3696cd;
  color: #fff;
}
.blist.grey ul li a:hover {
  background: #333;
  color: #fff;
}
.blist ul ul li a {
  padding: 0 0 0 10px;
}
.blist ul ul ul li a {
  padding: 0 0 0 15px;
}
/*----links-----*/
.inline-links ul {
  padding: 0;
}
.inline-links ul li {
  border-right: 1px solid #444;
  border-bottom: none;
  display: inline;
  padding: 0 10px 0 5px;
  line-height: 1em;
  margin: 0 10px 0 0;
}
.inline-links ul li.last {
  border-right: none;
}
.inline-links ul ul {
  display: none;
}
.column-links ul {
  padding: 0;
}
.column-links ul li {
  border-bottom: none;
  display: inline;
  display: inline-block;
  float: left;
  list-style: none;
  margin: 0 50px 0 0;
  position: relative;
  vertical-align: top;
}
.column-links ul li a {
  font-weight: bold;
}
.column-links ul li ul {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
}
.column-links ul li ul li {
  display: block;
  float: none;
  margin: 0;
  padding: 0;
  line-height: 1.3em;
}
.column-links ul li ul li a {
  font-weight: normal;
  font-size: 0.9em;
  line-height: 1em;
}
.column-links ul li ul li ul  {
  padding: 0 0 0 10px;
}
/*---imgfield-----*/
.img-left .field-type-filefield,
.img-left.image-insert,
.img-left img.imagecache {
  float: left;
  margin: 0 10px 10px 0;
}
.img-left .views-row {
  clear: left;
}
.img-right .field-type-filefield,
.img-right.image-insert,
.img-right img.imagecache {
  float: right;
  margin: 0 0 10px 10px;
}
.img-left .views-row {
  clear: right;
}
/*-----fonts----*/
.serif-heading h1,
.serif-heading h1 a,
.serif-heading h2,
.serif-heading h2 a,
.serif-heading h3,
.serif-heading h3 a,
.serif-heading h4,
.serif-heading h4 a,
.serif-heading h5,
.serif-heading h5 a {
  font-family: 'Palatino', 'Georgia', 'Times new roman', serif;
}
.serif-cont,
.serif-cont input {
  font-family: 'Palatino', 'Georgia', 'Times new roman', serif;
}
.mono-heading h1,
.mono-heading h1 a,
.mono-heading h2,
.mono-heading h2 a,
.mono-heading h3,
.mono-heading h3 a,
.mono-heading h4,
.mono-heading h4 a,
.mono-heading h5,
.mono-heading h5 a {
  font-family: "Courier New", Courier, mono;
}
.mono-cont,
.mono-cont input {
  font-family: Courier, mono;
}
/* @end */